.main-container {
  display: flex;
  /* border: 2px solid yellow; */
  height: 128vh;
  padding: 0;
}
.left-container {
  /* border: 2px solid blue; */
  width: 10%;
}
.left-container-items {
  list-style: none;
  display: flex;
  flex-direction: column;
  height: 50%;
  justify-content: space-evenly;
}

.right-container {
  /* border: 2px solid rgb(172, 40, 174); */
  width: 90%;
  height: 800%;
  padding: 1rem 0rem;
  background-color: #2b2a34;
  border-radius: 10px;
  padding-bottom: 3rem;
}
.right-container-first-content {
  /* border: 2px solid red; */
  height: 50;
  justify-content: space-between;
  padding: 0rem 2rem;
}
.right-container-second-content {
  /* border: 2px solid blue; */
  height: 50;
  padding: 0 1rem;
  padding: 0rem 2rem;
}

.movies-container {
  display: flex;
  scroll-behavior: auto;
  gap: 1rem;
}

.li {
  color: white;
  text-decoration: none;
}

.li:hover {
  color: rgb(13, 248, 248);
}

@media screen and (max-device-width: 480px) {
  .main-container {
    display: flex;
    /* border: 2px solid yellow; */
    height: 128vh;
    padding: 0;
    width: 100%;
  }
  .left-container {
    /* border: 2px solid blue; */
    width: 25%;
    padding-right: 4px;
  }

  .movies-container {
    display: flex;
    flex-direction: column;
  }
}
