.container {
  display: flex;
  margin: 4rem auto;
  border: 2px solid red;
  color: white;
  height: 80%;
  width: 70%;
  box-shadow: #22222e 5px 5px 15px;
}

.image {
  width: 430px;
  height: 570px;
}
.image-conatiner {
  width: 40%;
}
.right {
  width: 60%;
  padding-left: 5rem;
  margin-top: 2rem;
}

.input {
  width: 68px;
  height: 6.5%;
  margin-top: -1rem;
  border-radius: 3px;
  background-color: #151523;
  border: 1px solid #a3a4b1;
  color: white;
}
.input:focus {
  outline: none;
  border: 1px solid red;
}
.email {
  font-size: 1.2rem;
}

.password {
  font-size: 1.2rem;
}
.sign-in {
  width: 73%;
  height: 7%;
  background-color: red;
  color: white;
  border: none;
  margin-top: 1rem;
}


@media screen and (max-device-width: 480px) {
  .container {
    display: flex;
    margin: 0rem auto;
    margin-top: 2rem;
    /* border: 2px solid red; */
    color: white;
    height: 60vh;
    width: 80%;
    box-shadow: #22222e 5px 5px 15px;
  }
  .image {
    width: 100%;
    height: 100%;
  }
  .image-conatiner {
    width: 40%;
  }
  .right {
    width: 60%;
    /* background-color: red; */
    padding-left: 0rem;
    margin-top: 0rem;
  }
  .email {
    font-size: 10px;
  }

  .password {
    font-size: 10px;
  }
  h1 {
    font-size: 13px;
  }
  p {
    font-size: 10px;
  }
  .input {
      width: 10px;
  height: 6.5%;
    margin-top: 0;
    border-radius: 0rem;
    background-color: #151523;
    border: 1px solid #a3a4b1;
    color: white;
    font-size: 6px;
    margin-left: 2px;
  }
  .forget-password {
    color: #a3a4b1;
    margin-left: 0%;
  }

  .sign-up {
    margin-left: 0%;
    font-size: 9px;
  }
  .sign-in {
    width: 73%;
    height: 7%;
    margin-left: 0rem;
    background-color: red;
    color: white;
    border: none;
  }
}
